<!doctype html>

<html lang="en">
<head>
  	<meta charset="utf-8">

  	<title>The HTML5 Herald</title>
  	<meta name="description" content="The HTML5 Herald">
  	<meta name="author" content="SitePoint">

  	<link rel="stylesheet" href="static/another_style.css">

	<link href="https://fonts.googleapis.com/comss?family=Roboto|Shadows+Into+Light+Two" rel="stylesheet">
</head>

<body>
	<div class="title-head">
		<h1> Congradulations, you have logged in </h1>
	</div>

	<div>
		<form method="GET" action='/twitter_clone'>
			<button type="submit" class="button"/>
				<input onclick="" type="submit" value="Click here" />
			</button>
		</form>
	</div>

</body>
</html>

