<!doctype html>

<html lang="en">
<head>
  	<meta charset="utf-8">

  	<title>The HTML5 Herald</title>
  	<meta name="description" content="The HTML5 Herald">
  	<meta name="author" content="SitePoint">

  	<link rel="stylesheet" href="static/styles.css">

	<link href="https://fonts.googleapis.com/comss?family=Shadows+Into+Light+Two" rel="stylesheet">
</head>

<body>
	<div class="title-head">
		<h1> Register</h1>
	</div>

	<p> Already have an account? Go to log in </p>
	<a href="/loggedin" target="_self"> Go to log in </a>

	<p> Register now! </p>
	<form method="POST" action='/register'>
		<input type="text" name="full_name" placeholder="Full Name">
		<input type="text" name="username" placeholder="Username">
		<input type="text" name="password" placeholder="Password">
		<button type="submit" class="button">
			Submit
			<input onclick="" type="submit" value="Submit request" />
		</button>
	</form>
	
</body>
</html>